<!DOCTYPE html>
<html>
	<style>
		.red{color:red;font-weight:900;}
	</style>
	<head>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  	</head>
	<body>
		<h1>ERROR OCCURRED Within EHL</h1>
		<p>Time: <%=Time.now%></p>
		<br />
		<p class="red"><%=@error_msg%></p>
	</body>
</html>