<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Zer0 Kool</h3>
</div>
<div class="modal-body">
  <%=image_tag("http://image.eveonline.com/Character/1436418183_256.jpg")%>
  <div class="char_sheet span3">
    <%=image_tag("wantedsmall.png")%>
    <p class="target"><span>Outstanding Bounty: </span>10,000,000,000 ISK</p>
    <p class="target"><span>Corporation: </span>Project Nemesis</p>
    <p class="target"><span>Alliance: </span>Dec Shield</p>
    <p class="target"><span>Last seen at:</span></p>
    <ul class="unstyled">
      <li>Jita</li>
      <li>Uedama</li>
      <li>Deltole</li>
    </ul>
  </div>
  
</div>
<div class="modal-footer">
<div class="span5 bounty-how-to">
  <p class="bounty-head">Place a Bounty</p>
  <p>To place a bounty on <span>Zer0 Kool</span> send bounty ammount to <span>EveHitList Corporation</span> with the reason as
  <span>123456</span></p>
</div>
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>