<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>How do I place a bounty on someone?</h3>
</div>
<div class="modal-body">
	<h5>Placing a bounty is simple.</h5>
	<ol>
		<li>Open your ingame finder</li>
		<li>Search for <orange>EveHitList Corporation</orange></li>
		<li>Click transfer isk to corporation</li>
		<li>Enter the desired bounty amount <red>Do not click send yet</red></li>
		<li>In the reason field place either the players name(exactly) OR the players EVE CharacterID(if you have it)</li>
		<li>Click submit and you're done!</li>
	</ol>
	<p>Please allow the Eve Hit List website 45 minutes to an hour to post new bounty updates.</p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>