<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Who are you and what is your background?</h3>
</div>
<div class="modal-body">
	<h5>Who I am and a little about my background.</h5>
	<p>
		My ingame name is John Crichton Jr. (Yeah I know) and I've done web development for sites
		you may have heard of, like Monsterjam.com, disneyonice.com, and ringling.com as well as few other smaller sites.
		If you don't like the site design then send a complaint email to idontcare@evehitlist.com. I am not a designer
		nor do I aspire to be one, but any constructive criticism is appreciated as long as you include what you would change
		to better this sites design.
	</p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>