<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Why place a bounty and what it gets you.</h3>
</div>
<div class="modal-body">
	<h5>Why would placing a bounty benefit you?</h5>
	<p>You came to this site for a reason, so I would guess revenge would be the answer. By placing a bounty on someone
		you increase the likelihood of someone close to this character turning on him for the reward. Larger bounties attract 
		some of the most effective PVP'ers/mercs/unsavory people in the game to target the person of your choice.
	</p>
	<red>
		You can spend your time seeking revenge and plotting... or you can seek revenge by effectively alienating
		your target and creating distrust within his circle of friends from fear of being cashed in.
	</red>
	<hr />
	<h5>What do you get from all of this?</h5>
	<p>
		Simply put, Sweet Satisfaction. Your target is tracked by the EHL website (through multiple sources) and made available to all of our 
		freelance mercs. <red>Additionally, your target gets
		the public humiliation they deserve.</red>
	</p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>