<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Why place a bounty and what it gets you.</h3>
</div>
<div class="modal-body">
	<p></p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>