// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{height:100%;background-color:black}
.container{width:940px;background-color:black}
.border{border:1px solid black}

#main-row{min-height:500px;}
#side-column, #main-column{height:100%;}
#side-column{width:200px;float:right;}
#side-column > h3{color:#EEE;font-weight:900;text-align:center;background-color:#0B486B;opacity:.6;}
#main-column{background-color:#2f2f2f;width:714px;overflow:hidden;}

/* WATNED CHARACTER LISTING STYLING */
.character{
	width:100%;
	height:80px;
	border-bottom:5px solid #F2E9E1;
	margin: 0 auto;
	padding-top:10px;
	padding-left:30px;
	cursor:pointer;
}
.character:hover{background-color:#0B486B;}
.character > img{
	border:3px solid #990100;
	border-radius: 10px;
	margin:0 auto;
	float:left;
}
.character > img:hover{border-color:#B90504;opacity:.5;}
.target > span{color:orange;font-weight:700;}
.target{color:#FFF;font-weight:900;}
.char-specs > p{color:#FFF;}

.char-ships{margin:0 auto;}
.char-ships > ul{height:100%;}
.char-ships > ul > li{color:#FA6900;font-weight:600;font-size:10px;}
.char-ships > ul > li:first-child{color:red;font-weight:900;font-size:14px;}

.char-payout{text-align:center;}
.char-payout > h4{color:orange;font-weight:900;}
.char-payout > p{color:#FFF;margin-top:10px;font-weight:900;font-size:18px;}

/*  MODAL WINDOW FOR WANTED CHARACTER STYLING */
#character_modal, .modal-footer{background-color:#2f2f2f;}
#character_modal{display:none;top:40%;}
#character_modal > div > h3{color:orange;text-align:center;font-weight:900;letter-spacing:5px;}
div.char_sheet{display:inline-block;width:270px;margin:0 auto;}
div.char_sheet > h2{text-align:center;}
div.char_sheet > ul > li{color:#FFF;font-style:italic;}

div.bounty-how-to{display:inline-block;}
div.bounty-how-to > p:last-child{color:black;text-align:left;}
div.bounty-how-to > p:last-child > span{color:orange;font-weight:700;letter-spacing:2px;}
div.bounty-how-to > p.bounty-head{color:#FFF;font-weight:900;font-size:15px;text-align:left;}

/*  SIDE COLUMN STYLING*/
div.overlay{
  background-color:gray;
  opacity:.2;
  filter:alpha(opacity=40);
  height:105%;
  width:105%;
  z-index:2;
  position:absolute;
  margin:0;
}
div.hero{margin:10px auto;width:100%;border-radius:10px;overflow:hidden;position:relative;}
div.hero > div#hero-details{display:inline-block;}
div.hero > img{vertical-align:top;}

#hero-details{}
#hero-details > p#hero-name{font-size:14px;font-weight:700;}
#hero-details > p#hero-collected{color:green;font-weight:900;font-size:16px;}

/*HEAD BANNER*/
#topbanner{padding-left:35px;background-color:#0B486B;position:relative;overflow:none;}
#ehllogo{position:absolute;top:0;right:25px;height:120px;width:600px;opacity:.8}
#banner-info{position:absolute;top:0;height:100%}
#banner-info > p{margin-bottom:0;text-align:left;color:#FA2A00;font-weight:600;opacity:.7}
#banner-info > h2{margin-left:30px;color:#2CC72C}
#catch-phrase{position:absolute;bottom:0;width:100%}
#catch-phrase > p{display:inline-block;}
#catch-phrase > p > small{color:#FA6900;font-weight:900}

/*PAGINATION*/
#paginate{width:655px;padding:10px 30px 0 30px;margin-bottom:100px;;text-align:center;}

/*HELP COLUMN*/
#help-column{
	position:fixed;
	/*height:500px;*/
	width:200px;
	left:0;
}
.help-info{width:100%;margin:0;border-radius:5px;background-color:#2f2f2f;margin-bottom:10px;cursor:help;}
.help-info > h4{margin-left:20px;color:#EEEEEE;line-height:40px;}
